[submodule "yosys-sta"]
	path = yosys-sta
	url = git@github.com:KINGFIOX/yosys-sta.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:KINGFIOX/nvboard.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:KINGFIOX/fceux-am.git
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:KINGFIOX/am-kernels.git
[submodule "nemu/tools/spike-diff/repo"]
	path = nemu/tools/spike-diff/repo
	url = git@github.com:KINGFIOX/riscv-isa-sim.git
[submodule "npc"]
	path = npc
	url = git@github.com:KINGFIOX/ysyxSoC.git
