*.*
*
!*/
!/nemu/*
!/am-kernels/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/digital/*
!Makefile
!README.md
!.gitignore
!init.sh
!/FE/*
!/C/*

# Nix Flake
!flake.nix
!flake.lock
!.envrc
.direnv/
