*.*
*
!*/
!/nemu/*
!/am-kernels/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/digital/*
!/tools/**
!/scripts/*
!Makefile
!README.md
!LICENSE
!.gitignore
!init.sh
!/FE/*
!/C/*

# Nix Flake
!flake.nix
!flake.lock
!/nix/*
!/nix/pkgs/*
!.envrc
.direnv/

