[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:KINGFIOX/fceux-am.git
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:KINGFIOX/am-kernels.git
[submodule "npc"]
	path = npc
	url = git@github.com:KINGFIOX/ysyxSoC.git
[submodule "nemu"]
	path = nemu
	url = git@github.com:KINGFIOX/nemu.git
[submodule "nvboard"]
	path = nix/flakes/nvboard
	url = git@github.com:KINGFIOX/nvboard.git
[submodule "xv6-riscv"]
	path = xv6-riscv
	url = git@github.com:KINGFIOX/xv6-am.git
